%text-gradation {
    background-image: linear-gradient(to right, #dfa9b9 6%, var(--primary-color));
    -webkit-background-clip: text;
    color: transparent;
}


.title-wrap {
    height: 65vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;



    .header {
        box-sizing: border-box;
        // -webkit-backdrop-filter: saturate(110%) blur(1rem);
        // backdrop-filter: saturate(110%) blur(1rem);
        text-align: center;
        min-width: 50%;
        height: 30%;



        .title {
            line-height: 5rem;
            font-size: 5rem;
            @extend %text-gradation;
        }
    }

    .typewriter {
        width: fit-content;
        margin: 0 auto;

        h1 {
            @extend %text-gradation;
            display: inline-block;
            font-size: 3.2rem;
            overflow: hidden;
            border-right: .15em solid var(--primary-color);
            white-space: nowrap;
            letter-spacing: .15em;
            animation:
                typing 5s steps(25, end),
                blink-caret .75s step-end infinite;
            animation-fill-mode: forwards;
        }

    }


    @keyframes typing {
        from {
            width: 0;
        }

        to {
            min-width: 100px;
            width: 100%;
        }
    }

    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: var(--primary-color);
        }
    }

    @media screen and (max-width: 800px) {
        & {
            height: 60vh;
        }

        .header {
            width: 100%;

            .title {
                font-size: 2.5rem;
            }
        }

        .typewriter {

            h1 {
                font-size: 2rem;
            }
        }


    }
}