$bg-color: rgba(255, 255, 255, 0.3);

.md-viewer {
    width: 65vw;
    min-height: 100vh;
    padding: 3rem;
    margin-top: 6rem;
    background: var(--background-filter-color);
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);

    :global {
        .markdown-body {
            background-color: transparent;
        }
    }

    div,
    p,
    li,
    span {
        line-height: 1.75;
    }

    img {
        max-width: 100%;
    }

    li+li {
        margin-top: 0;
    }

    @media screen and (max-width: 800px) {
        width: 100vw;
    }
}

.medium-zoom-image--opened {
    z-index: 9999;
}