$primary-color: #333030;

@mixin textDecoration($fontsize, $color, $paddingLeft) {
  color: $color;
  font-size: $fontsize;
  padding-left: $paddingLeft;
  overflow: hidden;
  text-overflow: ellipsis;
}


.markdown-navigation {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0;
  max-height: 500px;
  scroll-behavior: smooth;

  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-corner {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track {
    background-color: #faf9f900;
    border-radius: 0;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #fffefe00;
    border-radius: 0;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: $primary-color;
  }
}

.markdown-navigation .title-anchor {
  display: block;
  color: #bbb;
  transition: all 0.2s;
  margin: 8px 0;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 2em;
  padding-right: 1.8em;
  cursor: pointer;
}

.markdown-navigation .title-anchor:hover,
.markdown-navigation .title-anchor.active {
  background-color: var(--primary-color);
  text-decoration: inherit;
}

.markdown-navigation .title-anchor.active {
  color: $primary-color;
}

.markdown-navigation .title-anchor small {
  margin: 0 0.8em;
}

.markdown-navigation .title-level1 {
  @include textDecoration(1.6rem, #000, 0)
}

.markdown-navigation .title-level2 {
  @include textDecoration(1.5rem, #333, 1.6rem)
}

.markdown-navigation .title-level3 {
  @include textDecoration(1.45rem, #555, 3.2rem)
}

.markdown-navigation .title-level4 {
  @include textDecoration(1.4rem, #777, 4.8rem)
}

.markdown-navigation .title-level5 {

  @include textDecoration(1.4rem, #888, 6.4rem)
}

.markdown-navigation .title-level6 {
  color: #999;
  font-size: 14px;
  padding-left: 80px;
}