.comment-list {
    background: var(--background-filter-color);
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);

    padding: 3rem;
    margin-top: var(--gap);

    .comment-form {
        width: 45vw;
        margin: auto;
    }



}



.article-wrap {
    padding: 3rem;
    padding-bottom: 0;
    margin-top: 6rem;
    margin-bottom: -6rem;

    background: var(--background-filter-color);
    -webkit-backdrop-filter: var(--background-filter);
    backdrop-filter: var(--background-filter);

    .article-title {
        font-size: 3rem;
    }

    .article-desc {
        margin-top: var(--small-gap);
        display: flex;
        flex-flow: column wrap;


    }

    .article-bottom {
        margin-top: var(--small-gap);
        display: flex;
        flex-flow: row wrap;
        gap: var(--small-gap);
    }


}

@media screen and (max-width: 800px) {
    .comment-list {
        width: 100%;

        .comment-form {
            width: 100%;
        }
    }

    .article-wrap {
        width: 100vw;
    }

}