@mixin bgFilter() {
  background: var(--background-filter-color);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
}

body {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'FiraCode' !important;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: 'fira-code';
  src: url(./static/fonts/FiraCode-Regular.ttf);
}

.content {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
}

@media screen and (max-width: 800px) {
  .content {
    padding: 0;
    display: flex;
    flex-direction: column;


  }
}




.ant-card {
  @include bgFilter();

  .ant-card-body {
    padding-right: 0;
  }
}