@import './static/style/normalize.css';
@import './static//style/root.scss';

@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./static/fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}