.navbar {
   padding: 0 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 6rem;
   background: hsla(0, 0%, 100%, .8);
   -webkit-backdrop-filter: saturate(180%) blur(2.5rem);
   backdrop-filter: saturate(180%) blur(2.5rem);

   position: -webkit-sticky;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 200;
   width: 100vw;
   overflow: hidden;

   :global(.ant-menu-root) {
      background: transparent;
   }
}